{% extends "base.html" %}

{% block title %}Add Recipe{% endblock %}

{% block page_content %}

<div class="add_repice_container">
    <h2>Lisää uusi Resepti</h2>
    <form id="recipeForm" method="POST" action="{{ url_for('main.add_recipe') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}<br>
            {{ form.title(size=32, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}<br>
            {{ form.description(class_="form-control") }}
        </div>

        <div class="full-container">
            <div class="ingredients-container">
                <div class="form-group">
                    <label for="ingredientCount">Valitse ainesosien määrä:</label>
                    <select id="ingredientCount" class="form-control">
                        {% for i in range(1, 51) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="ingredientFields">
                    {% for i in range(50) %}
                    <div class="form-group ingredient-field" style="display: none;">
                        {{ form['ingredient_' + i|string].label }}<br>
                        {{ form['ingredient_' + i|string](class_="form-control") }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="instructions-container">
                <div class="form-group">
                    <label for="instructionCount">Valitse ohjeiden määrä:</label>
                    <select id="instructionCount" class="form-control">
                        {% for i in range(1, 51) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="instructionFields">
                    {% for i in range(50) %}
                    <div class="form-group instruction-field" style="display: none;">
                        {{ form['instruction_' + i|string].label }}<br>
                        {{ form['instruction_' + i|string](class_="form-control") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form.img.label }}<br>
            {{ form.img(class_="form-control") }}
            <input type="hidden" id="imgError" name="imgError">
        </div>
        <div class="form-group_button">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>

<script>
document.getElementById('ingredientCount').addEventListener('change', function(event) {
    let count = parseInt(event.target.value);
    document.querySelectorAll('.ingredient-field').forEach((field, index) => {
        field.style.display = index < count ? 'block' : 'none';
    });
});

document.getElementById('instructionCount').addEventListener('change', function(event) {
    let count = parseInt(event.target.value);
    document.querySelectorAll('.instruction-field').forEach((field, index) => {
        field.style.display = index < count ? 'block' : 'none';
    });
});

document.getElementById('recipeForm').addEventListener('submit', function(event) {
    let ingredients = [];
    for (let i = 0; i < 50; i++) {
        let ingredientField = document.getElementById('ingredient_' + i);
        if (ingredientField && ingredientField.value) {
            ingredients.push(ingredientField.value);
        }
    }
    document.getElementById('ingredients').value = ingredients.join('; ');

    let instructions = [];
    for (let i = 0; i < 50; i++) {
        let instructionField = document.getElementById('instruction_' + i);
        if (instructionField && instructionField.value) {
            instructions.push(instructionField.value);
        }
    }
    document.getElementById('instructions').value = instructions.join('; ');
});
</script>

{% endblock %}