{% extends "base.html" %}

{% block title %}Luo uusi versio reseptistä{% endblock %}

{% block page_content %}
<div class="latest-recipes">
    <h2>Luo uusi versio reseptistä:{{ original_recipe.title }}</h2>
    <div class="row">
        <div class="col-md-4 original-recipes_content">
            <h4>Originaali resepti</h4>
            <p><strong>Nimi:</strong> {{ original_recipe.title }}</p>
            <p><strong>Kuvaus:</strong> {{ original_recipe.description }}</p>
            <p><strong>Ainekset:</strong><br> {{ original_recipe.ingredients.replace(';', '<br>')|safe }}</p>
            <p><strong>Ohjeet:</strong><br> {{ original_recipe.instructions.replace(';', '<br>')|safe }}</p>
            {% if original_recipe.img %}
            <div class="recipe-image">
                <img src="{{ url_for('main.img', filename=original_recipe.img) }}" alt="{{ original_recipe.title }}">
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4>Uusi versio</h4>
            <form id="recipeForm" method="POST" action="{{ url_for('main.add_recipe_version', id=original_recipe.id) }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.title.label }}<br>
                    {{ form.title(size=32, class_="form-control", value=original_recipe.title) }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}<br>
                    {{ form.description(class_="form-control", value=original_recipe.description) }}
                </div>

                <div class="full-container">
                    <div class="ingredients-container">
                        <div class="form-group">
                            <label for="ingredientCount">Valitse ainesosien määrä:</label>
                            <select id="ingredientCount" class="form-control">
                                {% for i in range(1, 51) %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="ingredientFields">
                            {% for i in range(50) %}
                            <div class="form-group ingredient-field" style="display: none;">
                                {{ form['ingredient_' + i|string].label }}<br>
                                {{ form['ingredient_' + i|string](class_="form-control", value=original_recipe.ingredients.split(';')[i] if i < original_recipe.ingredients.split(';')|length else '') }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="instructions-container">
                        <div class="form-group">
                            <label for="instructionCount">Valitse ohjeiden määrä:</label>
                            <select id="instructionCount" class="form-control">
                                {% for a in range(1, 51) %}
                                <option value="{{ a }}">{{ a }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="instructionFields">
                            {% for a in range(50) %}
                            <div class="form-group instruction-field" style="display: none;">
                                {{ form['instruction_' + a|string].label }}<br>
                                {{ form['instruction_' + a|string](class_="form-control", id='instruction_' + a|string, value=original_recipe.instructions.split(';')[a] if a < original_recipe.instructions.split(';')|length else '') }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.img.label }}<br>
                    {{ form.img(class_="form-control") }}
                </div>
                <div class="form-group_button">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('ingredientCount').addEventListener('change', function(event) {
    let count = parseInt(event.target.value);
    document.querySelectorAll('.ingredient-field').forEach((field, index) => {
        field.style.display = index < count ? 'block' : 'none';
    });
});

document.getElementById('instructionCount').addEventListener('change', function(event) {
    let count = parseInt(event.target.value);
    document.querySelectorAll('.instruction-field').forEach((field, index) => {
        field.style.display = index < count ? 'block' : 'none';
    });
});

// Display the correct number of fields based on the original recipe's ingredients and instructions
window.addEventListener('load', function() {
    let initialIngredientCount = {{ original_recipe.ingredients.split(';')|length }};
    document.getElementById('ingredientCount').value = initialIngredientCount;
    document.querySelectorAll('.ingredient-field').forEach((field, index) => {
        field.style.display = index < initialIngredientCount ? 'block' : 'none';
    });

    let initialInstructionCount = {{ original_recipe.instructions.split(';')|length }};
    document.getElementById('instructionCount').value = initialInstructionCount;
    document.querySelectorAll('.instruction-field').forEach((field, index) => {
        field.style.display = index < initialInstructionCount ? 'block' : 'none';
    });

    // Populate the instruction fields with the original recipe's instructions
    let originalInstructions = {{ original_recipe.instructions.split(';')|tojson }};
    originalInstructions.forEach((instruction, index) => {
        let instructionField = document.getElementById('instruction_' + index);
        if (instructionField) {
            instructionField.value = instruction;
        }
    });
});

document.getElementById('recipeForm').addEventListener('submit', function(event) {
    let ingredients = [];
    for (let i = 0; i < 50; i++) {
        let ingredientField = document.getElementById('ingredient_' + i);
        if (ingredientField && ingredientField.value) {
            ingredients.push(ingredientField.value);
        }
    }
    document.getElementById('ingredients').value = ingredients.join('; ');

    let instructions = [];
    for (let i = 0; i < 50; i++) {
        let instructionField = document.getElementById('instruction_' + i);
        if (instructionField && instructionField.value) {
            instructions.push(instructionField.value);
        }
    }
    document.getElementById('instructions').value = instructions.join('; ');
});
</script>

{% endblock %}
