{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="logo-section" style="text-align: center; width:100%;">
    <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" style="height: 350px;">
</div>

<div class="introduction">
    <h2>Tervetuloa Suku-Reseptiarkistoon!</h2>
    <p>Tämä on reseptiarkisto, johon voit tallentaa omia reseptejäsi ja etsiä muiden käyttäjien reseptejä. Voit myös selata viimeisimpiä reseptejä alla.</p>
    <p>Voit rekisteröityä ja kirjautua sisään, jolloin voit lisätä omia reseptejäsi ja tehdä versioita muiden resepteistä.</p>
    <p>Voit myös hakea reseptejä hakutoiminnolla.</p>
    <p>Hyvää ruokahalua!</p>
</div>

<div class="introduction search-bar" style="text-align: center; margin-bottom: 20px;">
    <form action="{{ url_for('main.search_recipes') }}" method="get">
        <input type="text" name="query" placeholder="Hae reseptejä..." style="width: 300px; padding: 10px;">
        <button type="submit" class="btn btn-primary">Hae</button>
    </form>
</div>

<div class="latest-recipes">
    <div class="latest-recipes_header">
        <h2>Viimeisimmät Reseptit</h2>
    </div>

        {% for recipe in latest_recipes %}
        <div class="latest-recipes_content">
                <h3><a href="{{ url_for('main.recipe', id=recipe.id) }}">{{ recipe.title }}</a> by {{ recipe.user.username }}</h3>
                
                <div class="row">
                    {% if recipe.img %}
                    <div class="col-md-3 recipe-image">
                        <img src="{{ url_for('main.img', filename=recipe.img) }}" alt="{{ recipe.title }}">
                    </div>
                    {% endif %}
                
                    <div class="col-md-8 ohje_container">
                        <p><strong><h4>Kuvaus:</h4></strong> {{ recipe.description }}</p>
                    </div>

                </div>
        </div>  
        {% endfor %}
        
    </div>
    <div class="latest-recipes_header">
    <button id="load-more" class="btn btn-primary" onclick="loadMoreRecipes()">Lataa lisää reseptejä</button>
    </div>

</div>

<script>
let offset = 5;

function loadMoreRecipes() {
    fetch(`/load_more_recipes?offset=${offset}`)
        .then(response => response.json())
        .then(data => {
            const recipesContainer = document.querySelector('.latest-recipes');
            data.recipes.forEach(recipe => {
                const recipeElement = document.createElement('div');
                recipeElement.classList.add('latest-recipes_content');
                recipeElement.innerHTML = `
                    <h3><a href="/recipe/${recipe.id}">${recipe.title}</a> by ${recipe.user}</h3>
                    <div class="row">
                        ${recipe.img ? `<div class="col-md-3 recipe-image"><img src="/img/${recipe.img}" alt="${recipe.title}"></div>` : ''}
                        <div class="col-md-3 ohje_container">
                            <p><h4>Ainesosat </h4><br>${recipe.ingredients.replace(/;/g, '<br>')}</p>
                        </div>
                        <div class="col-md-5 ohje_container">
                            <p><h4>Ohje</h4><br>${recipe.instructions.replace(/;/g, '<br>')}</p>
                        </div>
                    </div>
                `;
                recipesContainer.appendChild(recipeElement);
            });
            offset += 5;
            if (data.recipes.length < 5) {
                document.getElementById('load-more').disabled = true;
            }
        });
}
</script>
{% endblock %}
