{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block page_content %}
    <div class="latest-recipes_content">
        <div class="row">
            <div class="recipe_title col-md-3">
            <h2>{{ recipe.title }}</h2>
            <p><strong>Tekijä:</strong> {{ recipe.user.username }}</p>
            <p><strong>Luotu:</strong> {{ recipe.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p><strong>Kuvaus:</strong> {{ recipe.description }}</p>
            </div>

            <div class="recipe_versions ms-auto col-md-3">
                <h4>Versiot:</h4>
                <select onchange="location = this.value;">
                    {% for version in recipe.versions %}
                    <option value="{{ url_for('main.recipe', id=version.id) }}">{{ version.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</option>
                    {% else %}
                    <option disabled>Ei versioita</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        {% if recipe.img %}
        <div class="recipe-image">
            <img src="{{ url_for('main.img', filename=recipe.img) }}" alt="{{ recipe.title }}">
        </div>
        {% endif %}
        <div class="ohje_container">
            <h4>Ainesosat:</h4>
            <p>{{ recipe.ingredients.replace(';', '<br>')|safe }}</p>
        </div>
        <div class="ohje_container">
            <h4>Ohje:</h4>
            <p>{{ recipe.instructions.replace(';', '<br>')|safe }}</p>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('main.add_recipe_version', id=recipe.id) }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Luo uusi versio</button>
    </form>
    {% endif %}
    {% if current_user.is_administrator() %}
    <form action="{{ url_for('main.delete_recipe', id=recipe.id) }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    {% endif %} 

{% endblock %}
