{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block page_content %}
    <div class="latest-recipes_content">
        <div class="row">
            <div class="recipe_title col-md-9">
            <h2>{{ recipe.title }}</h2>
            <p><strong>Tekijä:</strong> {{ recipe.user.username }}</p>
            <p><strong>Luotu:</strong> {{ recipe.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p><strong>Kuvaus:</strong> {{ recipe.description }}</p>
            </div>

            {% if recipe.img %}
            <div class="recipe-image col-md-3">
                <img src="{{ url_for('main.img', filename=recipe.img) }}" alt="{{ recipe.title }}">
            </div>
            {% endif %}

        </div>
        <div class="recipe_versions ms-auto col-md-3">
            <h4>Versiot:</h4>
            <select onchange="location = this.value;">
                <option value="{{ url_for('main.recipe', id=recipe.id) }}">{{ recipe.title }}</option>
                {% for version in recipe.all_versions %}
                {% if recipe.original_id %}
                <option value="{{ url_for('main.recipe', id=recipe.original_id) }}">{{ recipe.original.title }}</option>
                {% endif %}
                {% if version.id != recipe.id %}
                <option value="{{ url_for('main.recipe', id=version.id) }}">{{ version.title }}</option>
                {% endif %}
                {% endfor %}
            </select>

            {% if current_user.is_authenticated %}
            <form action="{{ url_for('main.add_recipe_version', id=recipe.original_id or recipe.id) }}" method="get" style="display:inline;">
                <button type="submit" class="btn btn-primary">Luo uusi versio</button>
            </form>
            {% endif %}


        </div>

        <div class="full-container">
            <div class="ingredients-container-boxed">
                <h4>Ainesosat:</h4>
                <p>- {{ recipe.ingredients.replace(';', '<br><br>-')|safe }}</p>
            </div>
            <div class="instructions-container-boxed">
                <h4>Ohje:</h4>
                <p>- {{ recipe.instructions.replace(';', '<br><br>-')|safe }}</p>
            </div>
        </div>


        {% if current_user.is_administrator() %}

        <button class="btn btn-danger delete-btn" data-id="{{ recipe.id }}">Poista Resepti</button>
        {% endif %} 
    </div>

    <script>
       
        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', async () => {
                const recipeId = button.getAttribute('data-id');
                const csrfToken = '{{ csrf_token() }}'; // Add CSRF token
                const response = await fetch(`/delete_recipe/${recipeId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken // Custom header for CSRF token
                    },
                });
                if (response.ok) {
                    alert('Recipe deleted successfully!');
                    window.location.href = "{{ url_for('main.index') }}";
                } else {
                    alert('Failed to delete recipe!');
                }
            });
        });
    </script>

{% endblock %}
